@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900%display=swap');

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

/* HEADER */

header{
  background-image: linear-gradient(to bottom, rgb(33, 28, 34), transparent);
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  transition: 500ms;
  position: fixed;
  display: flex;
  z-index: 1000;
  width: 100%;
  left: 0;
  top: 0;
}

header.sticky{
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  background-image: none;
  padding: 0px 50px;
}

header .logo{
  height: 100px;
}

header .black{
  display: none;
}

header .white{
  display: flex
}

header.sticky .black{
 display: flex;
}

header.sticky .white{
  display: none;
}

header ul{
  position: relative;
  margin-bottom: 0px;
  display: flex;
}

header ul li{
  position: relative;
  list-style: none;
}

header ul li a {
  border-bottom: 4px solid transparent;
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-align: center;
  transition: 200ms;
  font-size: 1.2em;
  margin: 0px 15px;
  font-weight: 500;
  color: #fff;
}

header.sticky ul li a{
  color: #f78222;
}

header ul li a:hover{
  border-bottom: 4px solid #f78222;
  font-weight: bold;
  color: #fff;
}

header.sticky ul li a:hover{
  color: #f78222;
}

/* MAIN */

/* BANNER */

.carousel,
.slide{
  height: 100vh;
  overflow: hidden;
}


/*

SECTION-2

.titulo {
  color: #f78222;
  font-family: "Roboto";
  font-size: 50px;
  text-align: center;
  margin: 20px;
}

.modalidadesContainer {
  position: relative;
  height: 350px;
  background-color: #211c22;
  margin: 200px 0px 150px 0px;
}

.modalidades {
  position: absolute;
  width: 75%;
  height: 450px;

  top: -180px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f78222;

  border: 5px solid #f78222;
}

.description {
  height: 100%;
  width: 100%;
  background-color: white;
  display: inline-block;
}

.modalidadeText {
  display: inline-block;
  height: 100%;
  width: 34.5%;
}

.descriptionImg {
  position: relative;
  top: 10%;
  left: 50px;
  margin: 15px 0px;
}

.descriptionImg img {
  position: relative;
  width: 35%;
  padding: 15px;
  background-color: #211c22;
  border: 3px solid #f78222;
}

.modalidadeText h2 {
  position: absolute;
  margin: 10px;
  top: 45%;
  transform: translateY(-50%);
  left: 50px;
}

.modalidadeText p {
  position: absolute;
  margin: 10px;
  top: 65%;
  transform: translateY(-50%);
  width: 25%;
  text-align: justify;
  left: 50px;
}

.modalidadeImg {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 64.5%;
  overflow: hidden;
  display: inline-block;
}

.modalidadeImg img {
  position: absolute;
  height: 100%;
  right: 50%;
  transform: translateX(50%);
}

.hidden {
  display: none;
}

.buttons {
  position: absolute;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  bottom: -60px;
}

.button {
  background-color: white;
  border: 2px solid #f78222;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
  transition: 400ms;
  transform: translateX(50%);
}

.button:hover {
  background-color: #211c22;
  border: 3px solid #f78222;
}

.orangeButton {
  background-color: #f78222;
}

.buttonImg {
  position: relative;
  display: block;
  width: 70%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

SECTION-3

.comoChegarSection {
  background-color: #211c22;
  overflow: hidden;
  padding: 20px;
}

.comoChegarTexto {
  display: inline-block;
}

.comoChegarTexto h1 {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 4px solid #f78222;
  text-align: left;
  margin-bottom: 20px;
}

.enderecoSection {
  margin-left: 50px;
}

.enderecoSection p {
  color: white;
  font-size: 20px;
}

.locationButton {
  display: inline-block;
  margin: 50px;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  transition: 500ms;
}

.locationButton img {
  height: 50px;
  display: inline-block;
}

.locationButton p {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 4px solid #f78222;
  color: #f78222;
}

.locationButton:hover {
  background-color: white;
  color: white;
  border: 3px solid #f78222;
}

.map {
  float: right;
  margin-right: 50px;
  border: 5px solid #f78222;
  background-color: white;
}

SECTION-4

.horariosSection {
  background-color: #211c22;
  height: 600px;
  margin: 20px 0px;
  padding: 20px;
}

.horariosSection h1 {
  position: absolute;
  left: 20px;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 4px solid #f78222;
  text-align: left;
  margin-bottom: 20px;
}

FOOTER

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  background-color: #211c22;
  text-align: center;
  color: white;
  padding-top: 20px;
}

.logoFooterDiv {
  width: 70%;
  margin: auto;
}

.enderecoFotter {
  position: relative;
  text-align: left;
}

.enderecoFotter div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.midiasDiv {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.midiasButton {
  width: 40px;
}

.midiasLogo {
  width: 30px;
  margin: 3px;
  border-radius: 10px;
}

.copyrightDiv {
  text-align: center;
  padding: 5px;
  background-color: black;
}

.linktrButton {
  color: white;
  padding: 2px;
  border-radius: 10px;

  transition: 200ms;
}

.linktrButton:hover {
  background-color: #f78222;
  color: black;
  font-weight: bold;
} */
